<script>
 import press from './controller/key-press.mjs';
 import labels from './controller/key-code-labels.mjs';
 import keys from './keys-config.mjs';

 class Component extends HTMLElement {
     constructor() {
         super();

         this.onKeyButtonClick = this.onKeyButtonClick.bind(this);
     }

     connectedCallback() {
         const container = this.shadowRoot.children[0];
         (keys[this.dataset.section] || []).forEach(line => {
             if (line.length === 0) {
                 const lineElement = document.createElement('div');
                 lineElement.classList.add('line', 'empty');
                 container.append(lineElement);
                 return;
             }

             line.forEach(key => {
                 const processedKey = String(key || '').trim();

                 const element = document.createElement(processedKey ? 'button' : 'div')
                 container.append(element);
                 if (!processedKey) {
                     return;
                 }
                 element.innerText = labels[key] || key.toUpperCase();
                 element.setAttribute('data-key', key);
                 element.addEventListener('click', this.onKeyButtonClick);
             });
         });
     }

     disconnectedCallback() {
         this.shadowRoot.querySelectorAll('button').forEach(item => {
             item.removeEventListener('click', this.onKeyButonClick);
         });
     }

     onKeyButtonClick(event) {
         event.preventDefault();

         const keys = event.target.dataset.key.split('+');

         this.dispatchEvent(new CustomEvent('key-press', {
             bubbles: true,
             composed: true,
             detail: keys,
         }));

         if (this.hasAttribute('use-event-only') === false) {
             press(...keys);
         }
     }
 }
</script>

<div class="grid keys"></div>

<style>
 @use 'utils.scss';
 @use 'theme.scss';

 :host {
     font-size: inherit;
     line-height: inherit;
 }

 @include utils.base-inputs;
 @include utils.grid;
 @include utils.keys;
 .keys {
	 .line {
		 grid-column-start: span 3;
	 }

	 .empty {
		 margin: 0;
	 }
 }
</style>
