<h3>Touchpad settings</h3>
<div class="grid">
    <span>Sensitivity:</span><input name="sensitivity" type=range min=0.3 max=3 value=1 step=0.1><output name=sensitivity>1</output>
</div>
<div>
    <label><input type=checkbox name="use-natural-scrolling"> Reverse scrolling</label>
</div>
<div>
    <label><input type=checkbox name="use-double-tap-and-hold-for-scrolling"> Use double tap and hold for scrolling</label>
</div>

<script>
 class Component extends HTMLElement {
     static observedAttributes = ['sensitivity', 'use-natural-scrolling', 'use-double-tap-and-hold-for-scrolling'];

     constructor() {
         super();

         this.onUserInput = this.onUserInput.bind(this);
         this.onUserCheckbox = this.onUserCheckbox.bind(this);
     }

     shadowRootAddedCallback() {
         this.inputSensitivity = this.shadowRoot.querySelector('input[name="sensitivity"]');
         this.outputSeneitivity = this.shadowRoot.querySelector('input[name="sensitivity"] + output');
         this.inputUseNaturalScrolling = this.shadowRoot.querySelector('input[name="use-natural-scrolling"]');

         this.inputUseDoubleTapAndHoldForScrolling = this.shadowRoot.querySelector('input[name="use-double-tap-and-hold-for-scrolling"]');

         [
             this.inputSensitivity,
         ].forEach(element => {
             element.addEventListener('change', this.onUserInput);
         });
         [
             this.inputUseNaturalScrolling,
             this.inputUseDoubleTapAndHoldForScrolling,
         ].forEach(element => {
             element.addEventListener('change', this.onUserCheckbox);
         });
     }

     attributeChangedCallback(name, oldValue, newValue) {
         switch(name) {
             case 'sensitivity':
                 this.inputSensitivity.value = newValue;
                 this.outputSeneitivity.value = newValue;
                 break;
             case 'use-natural-scrolling':
                 newValue = newValue !== null;
                 this.inputUseNaturalScrolling.checked = newValue;
                 break;
             case 'use-double-tap-and-hold-for-scrolling':
                 newValue = newValue !== null;
                 this.inputUseDoubleTapAndHoldForScrolling.checked = newValue;
                 break;
         }

         this.sendEvent(`${name}-change`, oldValue, newValue);
     }

     get sensitivity() {
         return this.inputSensitivity.valueAsNumber;
     }

     get useNaturalScroll() {
         return this.inputUseNaturalScrolling.checked;
     }

     get useDoubleTapAndHoldForScrolling() {
         return this.inputUseDoubleTapAndHoldForScrolling.checked;
     }

     sendEvent(name, oldValue, newValue) {
         this.dispatchEvent(new CustomEvent(name, {
             detail: {
                 oldValue,
                 newValue,
             },
             bubbles: true,
         }));
     }

     onUserInput(event) {
         const {
             name,
             value,
         } = event.target;

         this.setAttribute(name, value);
     }

     onUserCheckbox(event) {
         const {
             name,
             checked,
         } = event.target;

         this.toggleAttribute(name);
     }
 }
</script>

<style>
 @use 'utils.scss';

 :host {
     font-size: inherit;
     line-height: inherit;
 }

 @include utils.base-inputs;

 @include utils.grid;
</style>
