@use 'theme.scss';

@mixin base-inputs {
    button, input {
        font-size: inherit;
        line-height: theme.$line-height;
    }
}

@mixin grid {
    .grid {
        display: grid;
        gap: 0.5em;
        grid-template-columns: min-content auto min-content;

        input {
            min-width: 3em;
        }
    }
}

@mixin keys {
    .keys {
        grid-template-columns: 1fr 1fr 1fr;

        button {
            height: 3em;
        }
    }
}
